@charset "utf-8";
@import "compass";

html{
    font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10){
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

$ja_font: "ヒラギノ角ゴ Pro w3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$gray_brown: #887f69;
$gray_l: #e2ddd4;
$gray_d: #b0b0b0;
$red: #9d1a2d;
$base_color: #f9f8f6;

body{
    background: $base_color;
}

.block-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.block-right{
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.text-center{
    text-align: center;
}

header{
    
    h1{
        margin: 0;
        padding: 0;
        @include fontsize(10);
    }
    
    #header_in{
        padding: 15px 10px 10px 10px;
    }

    @media (max-width: 550px){
        .logo{
            text-align: center;
            width: 100%;
        }
        .navi{
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }
    // max-width: 550px

    .sp_navi_icon{
        margin: 0;
        padding: 0;
        @extend .text-center;

        li{
            list-style: none;
            margin: 10px 5px 0 5px;
            padding: 0;
            display: inline-block;
            height: 24px;
            
            a{
                text-decoration: none;
            }
        }
    }

    .sp_navi_li{
        width: 550px;
        position: fixed;
        left: 0;
        background: $red;
        margin: 5px 0 0 0;
        padding: 10px 0;
        display: none;
        z-index: 100;

       li{
           list-style: none;
           margin: 0;
           padding: 0;
           
            &:last-child a{
                border-bottom: none;
            }  
       
           a{
                display: block;
                padding: 10px 8px;
                border-bottom: 1px solid #fff;
                @include fontsize(14);
                text-decoration: none;
                color: #fff;
            }
        }
    }
    // sp_navi_li
    
    @media(min-width: 551px){
        .sp_navi{
            display: none;
        }
        
        #header_in{
            padding: 35px 0 40px 0;   
        }
        
        .navi{
            padding: 0;
            margin: 0;
            float: right;
        }
        
        .pc_navi_li{
            margin: 20px 0 0 0;
            padding: 0;
            text-align: right;
        
            li{
                list-style: none;
                margin: 0;
                padding: 0;
                display: inline-block;
            
                a{
                    text-decoration: none;
                    padding-left: 10px;
                }
            }
        }
    }
    // min-width:551px
    
    @media(max-width: 550px){
        .pc_navi{
            display: none;
        }
    }
    // max-width:550px
}
// header

#contents{
    padding: 0 10px 10px 10px;
    
    .container{
        padding: 0;
    }
    
    #cover_area{
        .owl-dots{
            text-align: left;
        }
        .owl-dot{
            span{
                margin-left: 0;
                margin-right: 10px;
                width: 25px;
                height: 2px;
                border-radius: 0;
                background: $gray_d;
            }
        }
        .active{
            span{
                background: $red;
            }
        }
    }
    // #cover_area
    
    #main{
        h2{
            margin: 0;
            padding: 0;
            @include fontsize(10);
            line-height: 0;
        }
        
        .sp_title{
            @extend .text-center;
            margin: 15px 0;
            
            @media(min-width: 551px){
            display: none;
            }
        }
        
        .pc_title{
            width: 100%;
            margin: 25px 0;

            img{
                width: 100%;
                min-height: 25px;
                object-fit: none;
            }

            @media(max-width: 550px){
                display: none;
            }
        }
        
        h3{
            color: $gray_brown;
            @include fontsize(16);
            font-weight: bold;
            letter-spacing: .1rem;
            margin: 0 0 10px 0;
        }
        
        h4{
            color: $gray_brown;
            @include fontsize(12);
            font-weight: bold;
            letter-spacing: .1rem;
            margin: 20px 0 10px 0;
        }
        
        .items_container{
            @include display-flex;
            @include flex-wrap(wrap);
            justify-content: flex-start;
            
            p{
                @include fontsize(11);
                margin: 0 0 10px 0;
                line-height: 1.3;
            
                @media(min-width: 551px){
                    @include fontsize(12);
                    line-height: 1.5;
                }
            }
        }    
        .items{
            width: 48%;
            background: #fff;
            margin: 0.5%;
            padding: 10px;
            // border: solid 2px $base_color;
            @include box-sizing(border-box);
            
            @media(min-width: 551px){
                width: (97% / 3);
                padding: 15px;
            }
        }
        
        .guide_container{
            @include display-flex;
            @include flex-direction(column);
            
            p{
                @include fontsize(12);
                margin: 0 0 15px 0;
                line-height: 1.5;
            }
            
            .guide_box:last-child{
                margin: 0;
            }
            
            @media(min-width: 551px){
                @include flex-direction(row);
            }
        }
        // guide_container
        
        .guide_box{
            @include flex(1);
            background: #fff;
            padding: 20px;
            margin: 0 0 10px 0;
            
            h4:nth-child(2){
                margin: 0 0 10px 0;
            }
            
            @media(min-width: 551px){
                margin: 0 10px 0 0;
            }
        }
        // guide_box
    }
    // #main
    
    #sideber{
        #item_search{
            padding: 20px 15px;
            background: #fff;
            margin: 15px 0;
            
            @media(min-width: 551px){
                padding: 45px 20px 20px 20px;
                margin: 0;
                background-image: url("../images/top/itemserch.png");
                background-repeat: no-repeat;
                background-position: left 20px top 20px;
            }
        }
        
        .search_box{
            padding: 15px;
            margin: 0;
            width: 100%;
            height: 30px;
            background: #eee;
            border: 0;
            @include border-radius(0);
            background-image: url("../images/top/search_icon.png");
            background-repeat: no-repeat;
            background-position: top 50% right 5%;
        
            @include input-placeholder{
                color: $gray_d;
                font-style: italic;
            }
        }
        
        a{
            text-decoration: none;
            color: #000;
        }    
        @media(min-width: 551px){
            a:hover{
                h3{
                    background: $gray_l;
                    background-image: url("../images/top/next_icon.png");
                    background-repeat: no-repeat;
                    background-position: top 50% right 5%; 
                }
            }
        }
        
        
        h2{
            margin: 10px 0 0 0;
            padding: 20px 15px;
            background: $gray_brown;
            @include fontsize(12);
            color: #fff;
            font-weight: bold;
            letter-spacing: .1rem;
            line-height: 1;
        }
        
        h2.close{
            background-image: url("../images/top/next_icon.png");
            background-repeat: no-repeat;
            background-position: top 50% right 5%;
        }
        
        h2.open{
            background-image: url("../images/top/down_icon.png");
            background-repeat: no-repeat;
            background-position: top 50% right 5%;
        }
        
        h3{
            margin: 0;
            padding: 20px 15px;
            background: #fff;
            @include fontsize(12);
            letter-spacing: .1rem;
            border-bottom: solid 1px $base_color;
        }
        
        h3.close{
            background-image: url("../images/top/next_icon_gray.png");
            background-repeat: no-repeat;
            background-position: top 50% right 5%;            
        }
        
        .sideber_container{
            @include display-flex;
            padding: 10px;
            @include box-sizing(border-box);
            background: #fff;
            line-height: 0;
            
            p{
               @include fontsize(12);
               margin: 0 0 10px 0;
               line-height: 1.5;
            }
            
            .sideber_box:last-child{
                margin-right: 0;
            }
            
            @media(min-width: 551px){
                @include flex-direction(column);
            }
        }
        
        .sideber_box{
            @include flex(1);
            margin-right: 10px;
            
            img{
                margin-bottom: 10px;
            }
            
            @media(min-width: 551px){
                margin-right: 0;

                .more{
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    // #sideber
}
// #contents

footer{
    padding-bottom: 50px;
    
    @media(min-width: 551px){
        padding-bottom: 200px;
    }
    
    .page_top{
        @extend .block-center;
        margin-top: 20px;
        margin-bottom: 20px;
        
        @media(min-width: 551px){
                display: block;
                margin-right: 0;
                margin-top: 50px;
        }
    }
    // page_top
    
    .foot_navi{
        margin: 20px 0 10px 0;
        padding-top: 15px;
        border-top: solid 1px $gray_brown;
        text-align: center;
        
        @media(min-width: 551px){
            margin: 20px 0 20px 0;
            padding-top: 30px;
        }

        li{
            margin: 0;
            list-style: none;
            display: inline-block;
        }
        
        a{
            @include fontsize(11);
            text-decoration: none;
            color: #000;
            
            @media(min-width: 551px){
                @include fontsize(12);
                &:hover{
                    color: #0FA0CE;
                }
            }
        }
        
    }
    // foot_navi
    
    .copy{
        @extend .text-center;
        color: $gray_brown;
        @include fontsize(10);
    }
}
// footer


/**************************************/

// list.html

#contents{
    .pankuzu{
        background: $gray_l;
        padding: 5px 10px;
        @include border-radius(2px);
    
        .pankuzu_li{
            padding: 0;
            margin: 0;
        
            li{
                margin: 0 5px 0 0;
                display: inline-block;
                list-style: none;
                @include fontsize(11);
            
                a{
                    text-decoration: none;
                    color: $gray_brown;
                }
                @media(min-width: 551px){
                    a:hover{
                        color: #0FA0CE;
                    }
                }
                
                img{
                    margin-right: 5px;
                }
            }
        }
        // pankuzu li
    }
    // .pankuzu
    
    #main{
        
        .sp_cateimage{
            width: 100%;
            margin: 10px 0;
            
            @media(min-width: 551px){
            display: none;
            }
        }
        
        .pc_cateimage{
            width: 100%;
            margin: 10px 0;

            @media(max-width: 550px){
                display: none;
            }
        }
        
        .page_container{
            @include display-flex;
            @include flex-wrap(wrap);
            justify-content: space-between;
        }
        
        .page_box{
            width: 120px;
            margin: 20px 0;
            text-align: center;
            @include box-sizing(border-box);
            
            a{
                text-decoration: none;
            }
            
            p{
                padding: 5px;
                background: $gray_brown;
                color: #fff;
                @include fontsize(14);
                font-weight: bold;
            }
        }
        // page_box
    }
    // #main
}
// #contents

/**************************************/

// products.html

#contents{
    #products_area{
        background: #fff;
        margin: 15px -10px 0 -10px;
        padding: 20px 10px 30px 10px;
        
        @media (min-width: 551px) {
            margin: 10px 0 0 0;
            padding: 40px 60px 80px 60px;
        }
        // min-width: 1000px
        
        h2{
            @include fontsize(14);
            font-weight: bold;
            letter-spacing: .2rem;
            line-height: 0;
        }
        
        h3{
            padding: 0 0 15px 0;
            margin: 0 0 12.5px 0;
            font-weight: bold;
            letter-spacing: .2rem;
            line-height: 0;
            border-bottom: solid 1px $gray_brown;
        }
        
        h4{
            @include fontsize(16);
            font-weight: bold;
            margin: 0 0 12.5px 0;
        }
        
        p{
            @include fontsize(14);
            margin: 0 0 25px 0;
        }
        
        .product_name{
            h2{
                line-height: 1;
                margin-bottom: 5px;
            }
            p{
                margin: 0;
                line-height: 1;
            }
        }
        
        .product_no{
            margin: 0 0 7.5px 0;
            @include fontsize(10);
            color: $gray_d;
        }
        
        img{
            line-height: 0;
        }
        
        .table1{
            margin: 15px 0 0 0;
            @include fontsize(12);
            
            th{
                padding: 15px;
                color: $gray_brown;
                background: $base_color;
                @extend .text-center;
                border: solid 1px $gray_l;
                letter-spacing: .1rem;
                line-height: 1;
            }
            
            .w30{
                width: 30%;
            }
        
            td{
                padding: 15px;
                color: $gray_brown;
                @extend .text-center;
                border: solid 1px $gray_l;
                line-height: 0;
            }
            
            .text-left{
                text-align: left;
                line-height: 1.5;
                
                @media(min-width: 1000px){
                    line-height: 1;
                }
            }
        
            input{
                margin: 0;
            }
        }
        //table1
    }
    // #product_area
    
    .product_column{
        @include display-flex;
        @include flex-direction(column);
        border-bottom: solid 1px $gray_d;
        padding-bottom: 10px;
        margin-bottom: 10px;
        @include box-sizing(border-box);
        justify-content: space-between;
        
        @media (min-width: 1000px) {
            @include flex-direction(row);
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
        // min-width: 1000px
    }
    // product_column
    
    .product_imagebox1{
        margin: 0 0 10px 0;
        padding: 0;
        @include box-sizing(border-box);
        width: 100%;
        line-height: 0;
        
        @media(min-width: 1000px){
            @include flex(5);
            margin: 0;
        }
    }
    // product_imagebox1
    
    .product_imagebox2{
        padding: 0;
        margin: 0;
        @include display-flex;
        @include flex-wrap(wrap);
        @include box-sizing(border-box);
        line-height: 0;
        justify-content: space-between;
        
        @media(min-width: 1000px){
            @include flex(2);
            @include align-content(space-between);
            
            .imagesmall:last-child{
                padding-bottom: 0;
            }
            .imagesmall:nth-last-child(2) {
                padding-bottom: 0;
            }
        }
        

    }
    // .product_imagebox2
    
    .imagesmall{
        @include fontsize(0);
        width: 18%;
        padding-bottom: 2%;
        @include box-sizing(border-box);

        img{
            cursor: pointer;
        }
        
        @media(min-width: 1000px){
            width: 50%;
            padding: 0 0 5% 5%;
            
        }
    }
    // imagesmall
    
    .buy_column{
        @include display-flex;
        @include flex-direction(column);
        margin: 20px 0 10px 0;
        @include box-sizing(border-box);
        justify-content: space-between;
        
        @media (min-width: 1000px) {
            @include flex-direction(row);
            margin-bottom: 40px;
            border-bottom: solid 1px $gray_l;
        }
        // min-width: 1000px
    }
    // product_column
    
    .buy_box1{
        @include display-flex;
        @include flex-wrap(wrap);
        
        @media(min-width: 1000px){
            width: 65%;
        }
    }
    .table2{
        margin: 0;
        padding: 0;
        border-bottom: solid 1px $gray_l;
        
        @media(min-width: 1000px){
            border-bottom: 0;
        }
        
        th{
            width: 30%;
            background: #fff;
            text-align: left;
            padding: 25px 0;
        }
        td{
            @include fontsize(14);
            font-style: oblique;
        }
        th,td{
            border-top: solid 1px $gray_l;
            border-bottom: 0;
            line-height: 0;
        }
        .price{
            color: #e80f66;
        }
        .number{
            @include fontsize(22);
        }
    }
    
    .buy_box2{
        @extend .text-center;
        padding: 15px 0 25px 0;
        line-height: 0;
        
        @media(min-width: 1000px){
            padding: 0 0 0 15px;
        }
    }
    
    .quantity_box{
        padding: 15px;
        margin: 0;
        width: 150px;
        height: 40px;
        @include border-radius(0);
    }

}
// #contents