html {
  font-size: 62.5%; }

body {
  background: #f9f8f6; }

.block-center, footer .page_top {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.block-right {
  display: block;
  margin-left: auto;
  margin-right: 0; }

.text-center, header .sp_navi_icon, #contents #main .sp_title, footer .copy, #contents #products_area .table1 th, #contents #products_area .table1 td, #contents .buy_box2 {
  text-align: center; }

header h1 {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-size: 1rem; }
header #header_in {
  padding: 15px 10px 10px 10px; }
@media (max-width: 550px) {
  header .logo {
    text-align: center;
    width: 100%; }
  header .navi {
    width: 100%;
    padding: 0;
    margin: 0; } }
header .sp_navi_icon {
  margin: 0;
  padding: 0; }
  header .sp_navi_icon li {
    list-style: none;
    margin: 10px 5px 0 5px;
    padding: 0;
    display: inline-block;
    height: 24px; }
    header .sp_navi_icon li a {
      text-decoration: none; }
header .sp_navi_li {
  width: 550px;
  position: fixed;
  left: 0;
  background: #9d1a2d;
  margin: 5px 0 0 0;
  padding: 10px 0;
  display: none;
  z-index: 100; }
  header .sp_navi_li li {
    list-style: none;
    margin: 0;
    padding: 0; }
    header .sp_navi_li li:last-child a {
      border-bottom: none; }
    header .sp_navi_li li a {
      display: block;
      padding: 10px 8px;
      border-bottom: 1px solid #fff;
      font-size: 14px;
      font-size: 1.4rem;
      text-decoration: none;
      color: #fff; }
@media (min-width: 551px) {
  header .sp_navi {
    display: none; }
  header #header_in {
    padding: 35px 0 40px 0; }
  header .navi {
    padding: 0;
    margin: 0;
    float: right; }
  header .pc_navi_li {
    margin: 20px 0 0 0;
    padding: 0;
    text-align: right; }
    header .pc_navi_li li {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline-block; }
      header .pc_navi_li li a {
        text-decoration: none;
        padding-left: 10px; } }
@media (max-width: 550px) {
  header .pc_navi {
    display: none; } }

#contents {
  padding: 0 10px 10px 10px; }
  #contents .container {
    padding: 0; }
  #contents #cover_area .owl-dots {
    text-align: left; }
  #contents #cover_area .owl-dot span {
    margin-left: 0;
    margin-right: 10px;
    width: 25px;
    height: 2px;
    border-radius: 0;
    background: #b0b0b0; }
  #contents #cover_area .active span {
    background: #9d1a2d; }
  #contents #main h2 {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-size: 1rem;
    line-height: 0; }
  #contents #main .sp_title {
    margin: 15px 0; }
    @media (min-width: 551px) {
      #contents #main .sp_title {
        display: none; } }
  #contents #main .pc_title {
    width: 100%;
    margin: 25px 0; }
    #contents #main .pc_title img {
      width: 100%;
      min-height: 25px;
      object-fit: none; }
    @media (max-width: 550px) {
      #contents #main .pc_title {
        display: none; } }
  #contents #main h3 {
    color: #887f69;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: .1rem;
    margin: 0 0 10px 0; }
  #contents #main h4 {
    color: #887f69;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .1rem;
    margin: 20px 0 10px 0; }
  #contents #main .items_container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-start; }
    #contents #main .items_container p {
      font-size: 11px;
      font-size: 1.1rem;
      margin: 0 0 10px 0;
      line-height: 1.3; }
      @media (min-width: 551px) {
        #contents #main .items_container p {
          font-size: 12px;
          font-size: 1.2rem;
          line-height: 1.5; } }
  #contents #main .items {
    width: 48%;
    background: #fff;
    margin: 0.5%;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (min-width: 551px) {
      #contents #main .items {
        width: 32.33333%;
        padding: 15px; } }
  #contents #main .guide_container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column; }
    #contents #main .guide_container p {
      font-size: 12px;
      font-size: 1.2rem;
      margin: 0 0 15px 0;
      line-height: 1.5; }
    #contents #main .guide_container .guide_box:last-child {
      margin: 0; }
    @media (min-width: 551px) {
      #contents #main .guide_container {
        -webkit-flex-direction: row;
        flex-direction: row; } }
  #contents #main .guide_box {
    -webkit-flex: 1;
    flex: 1;
    background: #fff;
    padding: 20px;
    margin: 0 0 10px 0; }
    #contents #main .guide_box h4:nth-child(2) {
      margin: 0 0 10px 0; }
    @media (min-width: 551px) {
      #contents #main .guide_box {
        margin: 0 10px 0 0; } }
  #contents #sideber #item_search {
    padding: 20px 15px;
    background: #fff;
    margin: 15px 0; }
    @media (min-width: 551px) {
      #contents #sideber #item_search {
        padding: 45px 20px 20px 20px;
        margin: 0;
        background-image: url("../images/top/itemserch.png");
        background-repeat: no-repeat;
        background-position: left 20px top 20px; } }
  #contents #sideber .search_box {
    padding: 15px;
    margin: 0;
    width: 100%;
    height: 30px;
    background: #eee;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-image: url("../images/top/search_icon.png");
    background-repeat: no-repeat;
    background-position: top 50% right 5%; }
    #contents #sideber .search_box:-moz-placeholder {
      color: #b0b0b0;
      font-style: italic; }
    #contents #sideber .search_box::-moz-placeholder {
      color: #b0b0b0;
      font-style: italic; }
    #contents #sideber .search_box:-ms-input-placeholder {
      color: #b0b0b0;
      font-style: italic; }
    #contents #sideber .search_box::-webkit-input-placeholder {
      color: #b0b0b0;
      font-style: italic; }
  #contents #sideber a {
    text-decoration: none;
    color: #000; }
  @media (min-width: 551px) {
    #contents #sideber a:hover h3 {
      background: #e2ddd4;
      background-image: url("../images/top/next_icon.png");
      background-repeat: no-repeat;
      background-position: top 50% right 5%; } }
  #contents #sideber h2 {
    margin: 10px 0 0 0;
    padding: 20px 15px;
    background: #887f69;
    font-size: 12px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    letter-spacing: .1rem;
    line-height: 1; }
  #contents #sideber h2.close {
    background-image: url("../images/top/next_icon.png");
    background-repeat: no-repeat;
    background-position: top 50% right 5%; }
  #contents #sideber h2.open {
    background-image: url("../images/top/down_icon.png");
    background-repeat: no-repeat;
    background-position: top 50% right 5%; }
  #contents #sideber h3 {
    margin: 0;
    padding: 20px 15px;
    background: #fff;
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    border-bottom: solid 1px #f9f8f6; }
  #contents #sideber h3.close {
    background-image: url("../images/top/next_icon_gray.png");
    background-repeat: no-repeat;
    background-position: top 50% right 5%; }
  #contents #sideber .sideber_container {
    display: -webkit-flex;
    display: flex;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    line-height: 0; }
    #contents #sideber .sideber_container p {
      font-size: 12px;
      font-size: 1.2rem;
      margin: 0 0 10px 0;
      line-height: 1.5; }
    #contents #sideber .sideber_container .sideber_box:last-child {
      margin-right: 0; }
    @media (min-width: 551px) {
      #contents #sideber .sideber_container {
        -webkit-flex-direction: column;
        flex-direction: column; } }
  #contents #sideber .sideber_box {
    -webkit-flex: 1;
    flex: 1;
    margin-right: 10px; }
    #contents #sideber .sideber_box img {
      margin-bottom: 10px; }
    @media (min-width: 551px) {
      #contents #sideber .sideber_box {
        margin-right: 0; }
        #contents #sideber .sideber_box .more {
          display: block;
          margin-left: auto;
          margin-right: auto; } }

footer {
  padding-bottom: 50px; }
  @media (min-width: 551px) {
    footer {
      padding-bottom: 200px; } }
  footer .page_top {
    margin-top: 20px;
    margin-bottom: 20px; }
    @media (min-width: 551px) {
      footer .page_top {
        display: block;
        margin-right: 0;
        margin-top: 50px; } }
  footer .foot_navi {
    margin: 20px 0 10px 0;
    padding-top: 15px;
    border-top: solid 1px #887f69;
    text-align: center; }
    @media (min-width: 551px) {
      footer .foot_navi {
        margin: 20px 0 20px 0;
        padding-top: 30px; } }
    footer .foot_navi li {
      margin: 0;
      list-style: none;
      display: inline-block; }
    footer .foot_navi a {
      font-size: 11px;
      font-size: 1.1rem;
      text-decoration: none;
      color: #000; }
      @media (min-width: 551px) {
        footer .foot_navi a {
          font-size: 12px;
          font-size: 1.2rem; }
          footer .foot_navi a:hover {
            color: #0FA0CE; } }
  footer .copy {
    color: #887f69;
    font-size: 10px;
    font-size: 1rem; }

/**************************************/
#contents .pankuzu {
  background: #e2ddd4;
  padding: 5px 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
  #contents .pankuzu .pankuzu_li {
    padding: 0;
    margin: 0; }
    #contents .pankuzu .pankuzu_li li {
      margin: 0 5px 0 0;
      display: inline-block;
      list-style: none;
      font-size: 11px;
      font-size: 1.1rem; }
      #contents .pankuzu .pankuzu_li li a {
        text-decoration: none;
        color: #887f69; }
      @media (min-width: 551px) {
        #contents .pankuzu .pankuzu_li li a:hover {
          color: #0FA0CE; } }
      #contents .pankuzu .pankuzu_li li img {
        margin-right: 5px; }
#contents #main .sp_cateimage {
  width: 100%;
  margin: 10px 0; }
  @media (min-width: 551px) {
    #contents #main .sp_cateimage {
      display: none; } }
#contents #main .pc_cateimage {
  width: 100%;
  margin: 10px 0; }
  @media (max-width: 550px) {
    #contents #main .pc_cateimage {
      display: none; } }
#contents #main .page_container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between; }
#contents #main .page_box {
  width: 120px;
  margin: 20px 0;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #contents #main .page_box a {
    text-decoration: none; }
  #contents #main .page_box p {
    padding: 5px;
    background: #887f69;
    color: #fff;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold; }

/**************************************/
#contents #products_area {
  background: #fff;
  margin: 15px -10px 0 -10px;
  padding: 20px 10px 30px 10px; }
  @media (min-width: 551px) {
    #contents #products_area {
      margin: 10px 0 0 0;
      padding: 40px 60px 80px 60px; } }
  #contents #products_area h2 {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: .2rem;
    line-height: 0; }
  #contents #products_area h3 {
    padding: 0 0 15px 0;
    margin: 0 0 12.5px 0;
    font-weight: bold;
    letter-spacing: .2rem;
    line-height: 0;
    border-bottom: solid 1px #887f69; }
  #contents #products_area h4 {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0 0 12.5px 0; }
  #contents #products_area p {
    font-size: 14px;
    font-size: 1.4rem;
    margin: 0 0 25px 0; }
  #contents #products_area .product_name h2 {
    line-height: 1;
    margin-bottom: 5px; }
  #contents #products_area .product_name p {
    margin: 0;
    line-height: 1; }
  #contents #products_area .product_no {
    margin: 0 0 7.5px 0;
    font-size: 10px;
    font-size: 1rem;
    color: #b0b0b0; }
  #contents #products_area img {
    line-height: 0; }
  #contents #products_area .table1 {
    margin: 15px 0 0 0;
    font-size: 12px;
    font-size: 1.2rem; }
    #contents #products_area .table1 th {
      padding: 15px;
      color: #887f69;
      background: #f9f8f6;
      border: solid 1px #e2ddd4;
      letter-spacing: .1rem;
      line-height: 1; }
    #contents #products_area .table1 .w30 {
      width: 30%; }
    #contents #products_area .table1 td {
      padding: 15px;
      color: #887f69;
      border: solid 1px #e2ddd4;
      line-height: 0; }
    #contents #products_area .table1 .text-left {
      text-align: left;
      line-height: 1.5; }
      @media (min-width: 1000px) {
        #contents #products_area .table1 .text-left {
          line-height: 1; } }
    #contents #products_area .table1 input {
      margin: 0; }
#contents .product_column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  border-bottom: solid 1px #b0b0b0;
  padding-bottom: 10px;
  margin-bottom: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  justify-content: space-between; }
  @media (min-width: 1000px) {
    #contents .product_column {
      -webkit-flex-direction: row;
      flex-direction: row;
      padding-bottom: 20px;
      margin-bottom: 20px; } }
#contents .product_imagebox1 {
  margin: 0 0 10px 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  line-height: 0; }
  @media (min-width: 1000px) {
    #contents .product_imagebox1 {
      -webkit-flex: 5;
      flex: 5;
      margin: 0; } }
#contents .product_imagebox2 {
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 0;
  justify-content: space-between; }
  @media (min-width: 1000px) {
    #contents .product_imagebox2 {
      -webkit-flex: 2;
      flex: 2;
      -webkit-align-content: space-between;
      align-content: space-between; }
      #contents .product_imagebox2 .imagesmall:last-child {
        padding-bottom: 0; }
      #contents .product_imagebox2 .imagesmall:nth-last-child(2) {
        padding-bottom: 0; } }
#contents .imagesmall {
  font-size: 0px;
  font-size: 0rem;
  width: 18%;
  padding-bottom: 2%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #contents .imagesmall img {
    cursor: pointer; }
  @media (min-width: 1000px) {
    #contents .imagesmall {
      width: 50%;
      padding: 0 0 5% 5%; } }
#contents .buy_column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 20px 0 10px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  justify-content: space-between; }
  @media (min-width: 1000px) {
    #contents .buy_column {
      -webkit-flex-direction: row;
      flex-direction: row;
      margin-bottom: 40px;
      border-bottom: solid 1px #e2ddd4; } }
#contents .buy_box1 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (min-width: 1000px) {
    #contents .buy_box1 {
      width: 65%; } }
#contents .table2 {
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #e2ddd4; }
  @media (min-width: 1000px) {
    #contents .table2 {
      border-bottom: 0; } }
  #contents .table2 th {
    width: 30%;
    background: #fff;
    text-align: left;
    padding: 25px 0; }
  #contents .table2 td {
    font-size: 14px;
    font-size: 1.4rem;
    font-style: oblique; }
  #contents .table2 th, #contents .table2 td {
    border-top: solid 1px #e2ddd4;
    border-bottom: 0;
    line-height: 0; }
  #contents .table2 .price {
    color: #e80f66; }
  #contents .table2 .number {
    font-size: 22px;
    font-size: 2.2rem; }
#contents .buy_box2 {
  padding: 15px 0 25px 0;
  line-height: 0; }
  @media (min-width: 1000px) {
    #contents .buy_box2 {
      padding: 0 0 0 15px; } }
#contents .quantity_box {
  padding: 15px;
  margin: 0;
  width: 150px;
  height: 40px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

/*# sourceMappingURL=style.css.map */
